@page "/department/create"
@using HRApp.Shared.Entities
@inject HttpClient http
@inject NavigationManager uriHelper
@inject IJSRuntime js

<h3>Create Department</h3>


<EditForm Model="@department" OnValidSubmit="OnValidSubmit">
<DataAnnotationsValidator/>
    <MuForm class="d-flex">
        <MudGrid>
            <MudItem xs="12" sm="12" >
                <MudTextField Margin="Margin.Dense"style="height:41px" @bind-Value="department.Name" For="@(() => department.Name)" Label="Name" Variant="Variant.Outlined"></MudTextField>
            </MudItem> 
            <MudItem xs="12" sm="12" >
                <MudTextField Margin="Margin.Dense"style="height:41px" @bind-Value="department.Description" For="@(() => department.Description)" Label="Description" Variant="Variant.Outlined"></MudTextField>
            </MudItem>
         </MudGrid>
    </MuForm>
    <br/>
    <br/>
        <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" OnClick="CreateDepartment">Create</MudButton>
        <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Outlined" Color="Color.Primary" OnClick="Cancel">Cancel</MudButton>
</EditForm>


@code {
    bool success;
    Department department = new Department();
    async Task CreateDepartment()
    {
        await http.PostAsJsonAsync("api/department", department);
        uriHelper.NavigateTo("department");
    }
    
    private void OnValidSubmit(EditContext context)
    {
        success = true;
        StateHasChanged();
    }
    
    void Cancel()
    {
        uriHelper.NavigateTo("department");
    }
}
